@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input{
	@apply px-3 py-3 rounded-lg border outline-none focus:ring-2 ring-blue-500 transition duration-500 w-full mt-2
}

.submit_btn{
	@apply py-3 px-5 rounded-lg bg-blue-500 hover:bg-blue-600 text-white focus:ring-4 transition duration-500 outline-none
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #abb7d1;
  border-radius: 100vh;
  border: 3px solid #edf2f7;
}

input[type="file"]{
  @apply hidden
}

.custom-file-upload {

  @apply border-2 border-dashed border-gray-300 rounded-lg inline-block px-3 py-2 cursor-pointer hover:border-blue-500 transition duration-100

}

@media screen and (max-width:425px) {
	
	.css-k008qs{
		flex-direction: column !important;
	}
	
}